.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #151414;
    height: 25rem;
    padding: 4rem;
}

.head{
    color: #FFF;
    font-size: 18px;
    
    font-weight: 700;
}

.text{
    color: #FFF;
    font-size: 14px;
    

}

