.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #151414;
    height: 25rem;
    padding: 4rem;
}

.head{
    color: #FFF;
    font-size: 18px;
    
    font-weight: 700;
}

.text{
    color: #FFF;
    font-size: 14px;
    

}

.fline{
    height: 0.06rem;
    background: #D9D9D9;
}

.foot{
    background: #151414;
    height: 32rem;
}


.contact{
    display: flex;
    flex-direction: column;
    
}

.con{
    padding-bottom: 1rem;
}

