.hamWrapper{
    width:10rem;
    background-color: #d4d4d4;
    color: black;
    font-size: 1rem;
    border-radius: 5px;
}
.hamContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    /* width: 100%; */
}
.ham-items{
    padding: 4px 0px;
}
.border-class{
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 2px 0; */
}

.input-class input{
    text-align: center;
    padding-left: 2%;
    text-align: left;
}

.navbar-input{

    margin-right: 0%;
    
}
