.ubox{
    position: relative;
    width: 100%;
    height: 4.3rem;
    left: 0px;
   
    
    background: #F00000;
   
}


.nav-row{
    margin-right: 19rem;
    margin-left: 18rem;
    display: flex;
    flex-direction: row;
    gap: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}



.input-class{  
    /* width: 15rem; */
    height: 2rem;
    display: flex;
    flex-direction: row;
    
}

.navbar-input{
    
    margin-right: 3vw;
    
}



.input-class input{
    text-align: center;
    padding-left: 1vw;
    text-align: left;
}


.in{
    border: white;
    /* border-right: 5px rgb(213, 115, 10); */
    border-radius:2px 0px 0px 2px ;
    padding-right: 8rem;
}

.search-icon{
    background-color: white;
    border-radius: 0px  2px 2px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 0.5rem; */
    border-left: 1.5px solid #bbb9b9
    
}

.nav-row a{
    text-decoration: none;
    
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    

    letter-spacing: 0.01em;

    color: #FFFFFF;

}

.icon{
    margin: 1rem;
}


.hamModal{
    width: 100%;
}
.hamImage{
    cursor: pointer;
}
.hamModal{
    
    position: absolute;
    top: 43px;
    right: 41px;
    border-radius: 5px;

}
.hamImage{
    display: none;
}

@media (max-width:600px){
    .nav-row{
        display: flex;
        justify-content: space-between;
        margin-right: 2rem; 
        margin-left: 1rem;
        justify-content: space-between;
    }
    .hamImage{
        display: flex;
    }

    .hx{
        display: none;
    }

    .logo{
        width: 4.5rem !important;
    }

    .ubox{
        height: 3.7rem;
    }

    .navbar-input{
    
        margin-right: 0%;
        
    }

    .input-class input{
        text-align: center;
        padding-left: 2%;
        text-align: left;
    }

    .navbar-input{
    
        margin-right: 0%;
        
    }
    
    
    
}