.ccon{
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.ct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 30rem;
    font-size: 15px;
}
.chead{
    color: #F00;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    letter-spacing:0.001rem;
}

.line{
    height: 0.01rem;
    width: 90%;
    background: #000;margin: auto;
}

.citems{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cimage{
        height: 25rem;
    width: 30rem;
    object-fit: contain;
    border: 0;
    /* margin-right: 2rem; */
    
}