.card {
  width: 25%;
  border: none;
}
.card-text {
  background-color: #141a55;
  color: white;
  font-size: 1.2rem !important;
}
.card-img-top {
  width: 100%;
  aspect-ratio: 1/1;
}
.card-body {
  position: relative;
  bottom: 4.8rem;
  margin-left: -1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110.2% !important;
}

.card-text {
  width: 100% !important;
  height: 3.5rem !important;
  border-bottom-left-radius: 1.15rem;
  border-bottom-right-radius: 1.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px){
  .card-text{
    width: 100%;
    height: 1.8rem !important;
    font-size: 0.6rem !important;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }
  .card-body {
    bottom: 2.2rem;
    width: 127.5% !important;
}
}

@media only screen and (max-width: 540px){
  .card-text{
    width: 100%;
    height: 1.8rem !important;
    font-size: 0.6rem !important;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
  }
  .card-body {
    bottom: 2.1rem;
    width: 130% !important;
}

}

@media only screen and (max-width: 490px){


  .card-body {
    bottom: 2.2rem;
    width: 133% !important;
}
.card-text{
  font-size: 0.55rem !important;
}
}

@media only screen and (max-width: 440px){
  .card-text{
    width: 100%;
    height: 1.4rem !important;
    font-size: 0.6rem !important;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  .card-body {
    bottom: 1.8rem;
    width: 138% !important;
}
.card-text{
  font-size: 0.5rem !important;
}
}


@media only screen and (max-width: 390px){
  .card-text{
    width: 100%;
    height: 1.4rem !important;
    font-size: 0.6rem !important;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  .card-body {
    bottom: 1.8rem;
    width: 141% !important;
}

  
}